*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image1{
    width: 90%;
    box-shadow: 0 5px 8px 2px #353b48;
}
.six{
    align-items: center;
}
.head{
    display: flex;
    align-items: center;
    height: 12vh;
    width: 100%;
    background-color: #2f478a;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;
    letter-spacing: 0.5rem;
    color: white;
    text-shadow: 0 1px 0 #747d8c,0 2px 0 #747d8c,0 3px 0 #747d8c,0 4px 0 #747d8c;
    box-shadow: -4px 4px 10px 4px #273c75;
}
hr{
    border: 1px solid;
    color: #aa1d29e0;
}
.hr1{
    box-shadow: -2px 2px 6px 2px #273c75;
}
.btn1{
    border: 12px solid;
    border-color: transparent green transparent transparent;
}
.btn2{
    font-weight: 700;
    animation: anim 3s infinite ease-in-out alternate-reverse both;
    transition: 0.5s;
}
@keyframes anim{
    from{
       color: red;
    }
}
.fa{
    color: rgb(133, 5, 5);
    animation: anim2 3s infinite ease-in-out alternate-reverse both;
    transition: 0.5s;
}
@keyframes anim2{
    from{
        color: rgb(247, 28, 28);
    }
}
.container-fluid{
    height: 70vh;
}
.wow{
    height: 70vh;
}
.btn3{
    font-weight: 700;
    transition: 0.5s;
    margin: 8%;
    color: rgb(248, 62, 62);
}
.btn3:hover{
    color: white !important;
    letter-spacing: 0.5rem;
}
.btn4{
    color: white !important;
    letter-spacing: 0.5rem;
    background: rgb(248, 62, 62) !important;
}
.menu{
    display: flex;
    flex-direction: column;
}
.show{
    display: none;
    transition: 0.5s;
}
.heading{
    color: white;
    font-weight: 700;
}
.active{
    color: red !important;
}
@media only screen and (max-width:768px){
    .menu{
        display: block;
    }
    .image1{
        width: 100%;
    }
    .menu{
        display: flex;
        flex-direction: row;
    }
    .btn3{
        letter-spacing: 0;
    }
    .btn4{
        letter-spacing: 0;
    }
    .btn3:hover{
        letter-spacing: 0;
    }
}